body {
  background-color: black;
  color: white;
  cursor: url("../../assets/music_note.jpeg"), auto;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
}

.loading-text {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.loading-image {
  height: 100px;
  width: 100px;
}

@media only screen and (min-width: 41.875em) and (max-width: 56.25em) {
  .loading-image {
    height: 65px;
    width: 65px;
  }
}
