.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  height: 85vh;
  width: auto;
  overflow: scroll;
}

.about-info {
  display: flex;
  margin-top: 5vh;
  background-color: #8e9ebd;
  height: 50vh;
  width: 100vw;
  color: #002868;
  flex-direction: column;
  align-items: center;
  border-color: #002868;
  border-style: double;
  overflow: scroll;
}

.about-info-text {
  font-size: 20px;
  width: 75vw;
  text-align: left;
}

.about-info-title {
  margin-bottom: 0.5vh;
}

.about-photo {
  height: 45vh;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 16px;
}

@media only screen and (min-width: 300px) and (max-width: 480px) {
  .about-container {
    margin-top: 5vh;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
  }
  .about-photo {
    height: 21vh;
    width: auto;
  }
  .about-info {
    height: 200vh;
    width: 70vh;
    padding-top: 20px;
  }

  .about-info-text {
    font-size: 20px;
  }

  .about-info-title {
    margin-top: 2vh;
    font-size: 16px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .about-container {
    margin-top: 18vh;
  }
  .about-photo {
    height: 25vh;
  }
  .about-info {
    height: 60vh;
  }

  .about-info-title {
    margin-top: 2vh;
    font-size: 22px;
  }

  .about-info-text {
    font-size: 15px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .about-container {
    margin-top: 16vh;
  }
  .about-photo {
    height: 34vh;
  }
  .about-info {
    height: 60vh;
  }

  .about-info-title {
    margin-top: 1.5vh;
    font-size: 22px;
  }

  .about-info-text {
    font-size: 18px;
  }
}
