.card {
  color: black;
  box-shadow: 3px 5px 5px grey;
  background-image: linear-gradient(#dc3deb, #9e2fd6, #7114f5);
  box-sizing: border-box;
  border-radius: 1.5rem;
  border: 3px solid black;
  padding: 10px;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 30rem;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.card:hover {
  transform: rotateY(180deg);
}

.card-side {
  height: 30rem;
  transition: transform 0.8s ease;
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 1.5rem;
  overflow: hidden;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.card-side-front,
.card-side-back {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: opacity 0.5s ease;
}

.card-side-back {
  background-image: linear-gradient(#dc3deb, #9e2fd6, #7114f5);
  transform: rotateY(180deg);
}

.card:hover .card-side-front {
  transform: rotateY(180deg);
  opacity: 0;
}

.card:hover .card-side-back {
  transform: rotateY(180deg);
}

.playlist-card {
  perspective: none;
  transform-style: flat;
}

.playlist-card:hover {
  transform: none;
}

.mini-album-cover {
  width: 50%;
  height: auto;
  margin-top: 2rem;
}

.mini-album-cover-back {
  width: 200px;
  height: 200px;
  margin-top: 2rem;
}

.mini-album-cover-back {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.mini-album-cover-back:hover {
  opacity: 0.5;
}

.album-card,
.release-date-card {
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  margin: 0%;
}

.artist-card,
.song-card,
.genre-card,
.song-details-card {
  font-family: "Sono", sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.song-card:hover {
  color: red;
  cursor: pointer;
}

.heart-container {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
}

@media only screen and (min-width: 41.875em) and (max-width: 56.25em) {
  .mini-album-cover {
    width: 30%;
    height: auto;
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 20em) and (max-width: 31.25em) {
  .song-details-card {
    font-size: 10px;
  }
}

@media only screen and (max-width: 37.5em) {
  .heart-icon {
    height: 24px;
    width: 24px;
    margin-top: 5px;
    margin-right: 5px;
  }
}

@media only screen and (max-width: 93.75em) {
  .heart-icon {
    height: 40px;
    width: 40px;
    margin-top: 5px;
    margin-right: 5px;
  }
}
