.card {
  color: black;
  box-shadow: 3px 5px 5px grey;
  background-image: linear-gradient(#dc3deb, #9e2fd6, #7114f5);
  box-sizing: border-box;
  border-radius: 1.5rem;
  border: 3px solid black;
  padding: 10px;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 30rem;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.card:hover {
  transform: rotateY(180deg);
}

.card-side {
  height: 30rem;
  transition: transform 0.8s ease;
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 1.5rem;
  overflow: hidden;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.card-side-front,
.card-side-back {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: opacity 0.5s ease;
}

.card-side-back {
  background-image: linear-gradient(#dc3deb, #9e2fd6, #7114f5);
  transform: rotateY(180deg);
}

.card:hover .card-side-front {
  transform: rotateY(180deg);
  opacity: 0;
}

.card:hover .card-side-back {
  transform: rotateY(180deg);
}

.playlist-card {
  perspective: none;
  transform-style: flat;
}

.playlist-card:hover {
  transform: none;
}

.mini-album-cover,
.mini-album-cover-back {
  width: 200px;
  height: 200px;
  border-radius: 1.5rem;
  object-fit: cover;
  margin-top: 2rem;
}

.mini-album-cover-back {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.mini-album-cover-back:hover {
  opacity: 0.5;
}

.album-card,
.release-date-card {
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  margin: 0%;
}

.artist-card,
.song-card,
.genre-card,
.song-details-card {
  font-family: "Sono", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.song-card:hover {
  color: red;
  cursor: pointer;
}

.heart-container {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
}

/* Very small mobile devices */
@media only screen and (min-width: 20em) and (max-width: 41.75em) {
  .heart-icon {
    height: 45px;
    width: 45px;
    margin-top: 5px;
    margin-right: 5px;
  }

  .mini-album-cover-back {
    width: 150px;
    height: 150px;
  }
  .artist-card,
  .song-card,
  .genre-card,
  .song-details-card {
    font-family: "Sono", sans-serif;
    font-weight: bold;
    font-size: 14px;
  }
}

/* Mobile devices (smaller screens) */
@media only screen and (max-width: 37.5em) {
  .heart-icon {
    height: 30px;
    width: 30px;
    margin-top: 5px;
    margin-right: 5px;
  }
  .artist-card,
  .genre-card,
  .song-card,
  .song-details-card {
    font-size: 12px;
  }
}

/* Small to medium devices */
@media only screen and (min-width: 37.6em) and (max-width: 56.25em) {
  .heart-icon {
    height: 40px;
    width: 40px;
    margin-top: 5px;
    margin-right: 5px;
  }

  .mini-album-cover {
    width: 250px;
    height: 250px;
    margin-top: 2rem;
  }

  .artist-card,
  .genre-card,
  .song-card,
  .song-details-card {
    font-size: 16px;
  }
}
/* Larger devices */
@media only screen and (min-width: 56.26em) and (max-width: 64em) {
  .heart-icon {
    height: 45px;
    width: 45px;
    margin-top: 5px;
    margin-right: 5px;
  }

  .mini-album-cover {
    width: 275px;
    height: 275px;
    margin-top: 2rem;
    border-radius: 1.5rem;
  }

  .mini-album-cover-back {
    border-radius: 1.5rem;
  }
  .album-card,
  .release-date-card,
  .artist-card,
  .genre-card,
  .song-card,
  .song-details-card {
    font-size: 14px;
  }
}

@media only screen and (min-width: 64.1em) and (max-width: 85em) {
  .heart-icon {
    height: 50px;
    width: 50px;
    margin-top: 5px;
    margin-right: 5px;
  }

  .mini-album-cover {
    width: 300px;
    height: 300px;
    margin-top: 2rem;
  }
  .album-card,
  .release-date-card,
  .artist-card,
  .genre-card,
  .song-card,
  .song-details-card {
    font-size: 10px;
  }
}
